.footer_animation_outer_container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 20rem;
    /* background-color: aquamarine; */
    margin:0;
    padding:0;
    position:relative;
}

.test{
    width: 200px;
    height: 200px;
    /* background-color: yellow; */
    /* border: 2px solid blue; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

   
}

.moving{
    animation-delay: 1s;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: float;
    
    position: absolute;
}

.junk{
    width: 70%;
    margin-bottom: 3px;
    z-index: 20;
    /* object-fit: contain; */
    /* border: 2px solid blue; */
    
}

.hills{
    position: absolute;
    right:0;
    z-index: -2;
    width: 100vw;
     /* border: 2px solid blue; */
}

.skyline{
    position: absolute;
    z-index: -1;
    width:100vw;
    opacity: 0;
    
}

.wheelset{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: -1;
}

.wheel{
    position: absolute;
    width:85%;
    top:27px;
    right:2ps;
    animation-delay: 1s;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotate;
}

.stand{
    width: 40%;
    height:40%;
}





@keyframes float{
0%{
  right: 0;
  opacity: 0;
 
  
}
20%{
  opacity: 1;
}
80%{
  opacity: 1;
}
100%{
  opacity: 0;
  right: 100%;
  
}
}

@keyframes rotate{
    0%{
        transform: rotate(0);
     
    }
    100%{
        transform: rotate(360deg);
      
    }
    }

@media (max-width: 768px){
    .footer_animation_outer_container{
        height: 7rem;
    }

    .hills{
        width: 200vw;
    }

    .junk{
        width: 50%;
    }

    .moving{
        animation-duration: 20s;
    }
}