.main_outer_container{
    /* border: 3px solid blueviolet; */
    padding: 5rem 0 10rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.text_container{
    width: 85%;
    max-width: 1600px;
    font-weight: 200;
    font-weight: 200;

}

.text_container h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    color: #161A1D;
}

.text_container p{
    width: 75ch;
    font-size: 1.2rem;
    margin-top: .5rem;
    letter-spacing: .025rem;
}

.line{
    height: 1.5px;
    width: 85%;
    max-width: 1600px;
    margin: 4rem;
    border-radius: 50px;
    background-color: rgb(22, 26, 29, 0.1); 
}

.card_container_outer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 5rem;
    /* border: 3px solid blue; */
}
    
.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1600px;
    gap: 2rem;
    /* border: 3px solid blue; */
}

@media (max-width: 768px){

    .main_outer_container{
        padding: 3rem 0 10rem 0;
    }
    .card_container{
        flex-direction: column;
    }

    .text_container p{
        width:100%;
    }

    .line{
        margin: 2rem;
    }
}