.main_outer_container{
    /* border: 3px solid blueviolet; */
    padding: 5rem 0 10rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.text_container{
    width: 85%;
    max-width: 1600px;
    font-weight: 200;
    font-weight: 200;

}

.text_container h2{
    font-family: 'Shadows Into Light', cursive; 
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */

    /* font-family: 'Bad Script', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Caveat', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Monda', sans-serif; */



    font-size: 2.25rem;

   color: #660708;
    color: rgb(255, 255, 255, 0.4);
    color: rgb(255, 255, 255, 1);
    color: rgba(164, 22, 26, 1);
    color: #161A1D;
}

.text_container p{
    width: 75ch;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.line{
    background-color: rgb(22, 26, 29, 0.1);
    height: 1.5px;
    width: 85%;
    max-width: 1600px;
    margin: 4rem;
    border-radius: 50px;
}

.card_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    max-width: 1600px;
    gap: 2rem;
    /* margin-top: 4rem; */
}

@media (max-width: 768px){
    .card_container{
        flex-direction: column;
    }
}