.main_outer_container{
    /* border: 3px solid blueviolet; */
    padding: 5rem 0 10rem 0;
    padding: 5rem 0 0rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

.text_container{
    width: 85%;
    max-width: 1600px;
    font-weight: 200;
    font-weight: 200;
    

}

.text_container h2{
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    font-size: 3.2rem;
    color: #161A1D;
}

.text_container p{
    width: 75ch;
    font-size: 1.2rem;
    font-size: 1.4rem;
    margin-top: .5rem;
    letter-spacing: .025rem;
    line-height: 2rem;
}

.line{
    height: 1.5px;
    width: 85%;
    max-width: 1600px;
    margin: 4rem;
    border-radius: 50px;
    background-color: rgb(22, 26, 29, 0.1); 
}

.card_container_outer{
    display: flex;
    justify-content: center;
    justify-content:space-between;
    width: 85%;
    /* padding: 0 5rem; */
    /* border: 3px solid blue; */
}
    
.card_container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 1600px; */
    /* width: 85%; */
    /* gap: 2rem; */
    /* border: 3px solid blue; */
}

.footer_animation{
    /* position: absolute; */
    /* align-self: flex-end; */
    /* bottom:0; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    /* align-items: flex-end; */
    /* height: 15rem; */
    
    border: 3px solid blue;
    width: 100%;
    margin: 0;
    padding: 0;
}

.junk{
    scale: .3;
    border: 3px solid blue;
}

@media (max-width: 768px){
    .card_container{
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .text_container p{
        font-size: 1.2rem;
        width:100%;
        line-height: 1.7rem;
    }

    .line{
        margin: 2.5rem
    }

    .text_container h2{
        font-size: 2.5rem;
    }

    .main_outer_container{
        padding: 3rem 0 10rem 0;
    }
}