.search_bar_container{
    /* align-self: centre; */
    display: flex;
    /* justify-content: center; */
    /* position: absolute; */
    /* z-index: 999; */
  }
  
  .input_field{
    border-radius: 50px 0 0 50px;
    outline: none;
    border: none;
    border: 2px solid rgb(168, 12, 12);
    height: 30px;
    width: 30rem;
    background-color: rgb(240, 248, 255, 0.6);
    padding: 5px 10px;
  }
  
  .search_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 0 50px 50px 0;
    height: 30px;
    width: 15rem;
    /* z-index: 200; */
    border: 2px solid rgb(168, 12, 12);
    border-left: none;
    /* background-color: rgb(168, 12, 12); */
    color: rgb(168, 12, 12);
    letter-spacing: .5em;
    transition: all 1s;
    cursor: pointer;
  }

  .search_btn:hover {
    background-color: rgb(224, 22, 22);
    letter-spacing: 1em;
    color: white;
  }